html {
  font-size: 16px;
}

body {
  margin: 0;
}

article, div#ftext {
  max-width: 25cm;
  margin: auto;
  padding: 1ex;
}

p {
  text-indent: 30px;
}

p.intro {
  font-style: italic;
  max-width: 22cm;
  margin: auto;
  padding: 1ex;
}

img {
  margin: auto;
  display: block;
  max-width: 95%;
  min-width: 300px;
}

h1, h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  color: #444;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 36pt;
  margin-top: 2ex;
}

h2 {
  margin-top:-1ex;
  margin-left: 10ex;
  font-weight: 300;
  font-size: 20pt;
  margin-bottom: 2ex;
}

h3, h4 {
  font-family: sans-serif;
  margin-top: 1.5cm;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

footer {
  border-top: 1px solid #999;
  padding: 2ex 5ex;
  font-size: 80%;
  font-family: sans-serif;
  background: #cccccc;
}
